@charset "utf-8";

@import url(core.css);
@import url(reset.css);
@import url(common.css);


@font-face {
    font-family: Nanum;
    src: url(../fonts/NanumGothic.woff)
    format("woff")
}






body {
    background-image: url(../images/bg.png);
    font-family: Nanum, "맑은 고딕", Verdana;
    font-size: 15px;
    letter-spacing: -1px;
}