@charset "utf-8";

.grid {
    position: fixed;
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 960px;

    height: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    opacity: 0.2;
    z-index: 999999;
    /* display: none; */
}


.grid li {
    box-sizing: border-box;
    float: left;
    width: 8.33%;
    height: 100%;
    background-color: #00f;
    padding: 0 10px;
    background-clip: content-box;

}