html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(../image/bg_jungle_1.png) no-repeat center/cover;
}

body::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: -1;
}

.ulogo {
    position: absolute;
    right: 0;
    margin: 15px;
    padding: 0;
    width: 240px;
    height: 80px;
    
    box-sizing: border-box;
    /*outline: 2px dotted white;*/
}

.ulogo::before {
    position: absolute;
    content:"";
    display: block;
    right: 100%;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    width: 1620px;
    height: 2px;
    top: 48%;
    transform: translateY(-50%);
    background-color: #fff;  
}

.ulogo img {
    width: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 1240px;
    outline: 2px solid red;
    
    top: 54.5%;
    transform: translateY(-50%);
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}

.cont {
    margin: 5px 5px;
    width: 300px;
    height: 700px;
    box-sizing: border-box;
    outline: 1px solid white;
    
    float: left;
}

#ev1 {
    background: url(../image/ev1.png) no-repeat top left/100%;
}