@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/*font-family: 'Nanum Myeongjo', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap');
/*font-family: 'Gothic A1', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&family=Noto+Sans+KR:wght@700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
/*font-family: 'Nanum Gothic', sans-serif;*/


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
/*font-family: 'Nanum Gothic Coding', monospace;*/


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-X: hidden;
}

section {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: 1px dashed red;
    font-weight: bold;
    color: white;

    background-color: #242424;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 300px;

    color: white;
    background-color: black;
}



/********************************************************************* 고정메뉴 설정 ***********************************************************************/

/*.tmenu {
    position: fixed;
    margin: 20px;
    padding: 0;
    left: 0;
    
    width: 50px;
    height: 50px;
    
    z-index: 9999;
    
    outline: 1px solid white;
}

.mlist {
    position: absolute;
    margin: 10px 0 0 0;
    padding: 0;
    left: 10px;
    top: 100%;
    
    list-style: none;
    outline: 1px solid lime;
}

.mlist::before {
    position: absolute;
    display: block;
    content: "";
    
    margin-right: 8px;
    right: 100%;
    
    width: 3px;
    height: 100%;
    
    background-color: #fff;
}

.mlist li {
    position: relative;
    width: 200px;
    height: 0;
    padding-left: 10px;
    
    font-size: 20px;
    line-height: 80px;
    color: white;
    transition: .5s;
    overflow: hidden;
    
    outline: 1px solid cyan;
}

.tmenu:hover .mlist li {
    height: 80px;
}*/

/********************************************************************* 고정메뉴 설정 ***********************************************************************/


/********************************************************************* 1번째 메인 ***********************************************************************/

.case1 {
    background: url(../image/bg_rhodescom.png) no-repeat top left/1920px;
}


.hcase {
    position: relative;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    
    width: 100%;
    
    overflow: hidden;
    
    /*outline: 1px solid red;*/
}

.lcase {
    position: relative;
    margin: 0;
    padding: 0;
    left: 50px;
    
    height: 80%;
    
    /*outline: 1px solid yellow;*/
}

.lcase::after {
    display: block;
    content: "";
    clear: both;
}


.mlogo {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    
    /*outline: 1px solid purple;*/
}

.mlogo img {
    width: 300px;
}

.sublogo {
    float: left;
    padding: 5px 0 5px 10px;
    height: 20%;
    color: #fff;
    background-color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
}

/**************** 중심 잡아주는 큰 케이스 ****************/

.d_case {
    position: relative;
    margin: 0 auto;
    width: 1400px;
}

/*********************** 좌측 메뉴 케이스 ***********************/

.schadule_case {
    position: relative;
    box-sizing: border-box;
    margin: 10px 0 0 20px;
    padding: 10px;
    left: 0;
    
    width: 900px;
    height: 720px;
    
    border-radius: 2px;
    
    transform: translateX(-230px)perspective(1800px) rotateY(20deg);
    transform-origin: left;
    
    /*background-color: rgb(0, 0, 0, 0.7);*/
}


.sch_case {
    position: relative;
    margin: 15px 0 0 0;
    padding: 5px;
    padding-left: 7px;
    
    width: 20px;
    height: 180px;
    
    box-sizing: border-box;
    
    background-color: #00a2f8;
}

.sch_case:nth-child(2) {
    background-color: #036569;
}

.sch_case:last-child {
    background-color: crimson;
}

.sch_name {
    position: relative;
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding: 2px;
    padding-left: 15px;
    
    color: #000;
    background-color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    
    z-index: 2;
}

.sch_name span {
    background-color: #000;
}

.sch_detail {
    position: relative;
    top: -40px;
    padding-top: 40px;
    width: 500px;
    height: 155px;
    
    box-sizing: border-box;
    
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Nanum Gothic', sans-serif;
}

.time_case {
    padding-left: 20px;
    width: 550px;
    height: 100px;
    line-height: 90px;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 60px;
    background-color: black;
    
    transform-origin: left;
}

.sch_detail ul {
    position: absolute;
    margin: 0;
    margin-left: 18px;
    padding: 0;
    list-style: none;
}

.sch_detail ul::after {
    content: "";
    display: block;
    clear: both;
}

.sch_detail ul li {
    margin: 10px;
    margin-top: 10px;
    float: left;
    font-size: 20px;
    
    outline: 1px solid white;;
}

.event_name {
    position: absolute;
}

.event_case .banner {
    position: relative;
    padding: 10px;
    padding-left: 15px;
    width: 700px;
    height: 170px;
    
    box-sizing: border-box;
    
    background-color: rgb(0, 0, 0, 0.5);  
}

.event_case .banner .banner_img {
    width: 100%;
    height: 100%;
    background: url(../image/banner2.jfif) no-repeat top left/100% ;
    box-sizing: border-box;
}


.notice_go {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    
    width: 120px;
    height: 30px;
    line-height: 30px;
    
    background-color: rgb(255, 255, 255, 0.9);
    color: #000;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    
    transition: all .2s ease-out;
}

.notice_go:hover {
    color: #fff;
    background-color: rgb(0, 0, 0, 0.9);
}

/******* 오른쪽 ********/

.amiya_standing {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 100px;
    height: 100%;
    
    outline: 2px solid lime;
}

.amiya_standing img {
    position: absolute;
    right: 0;
    
    transform: scale(1.2) translate(350px, -60px);
}

.amiya_standing .saying {
    position: absolute;
    padding: 10px;
    width: 400px;
    height: 150px;
    
    top: 300px;
    right: 80px;
    
    background-color: rgb(0, 0, 0, 0.7);
    font-family: 'Nanum Gothic Coding', monospace;
}

.saying::after {
    position: absolute;
    display: block;
    content:"▼";
    
    top: 140px;
    right: 10px;
    
    color: white;
    
    font-size: 20px;
    
    animation: arrowblink .7s ease-in infinite alternate;
}

@keyframes arrowblink {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}


.case1_symbol_case {
    position: absolute;
    padding: 10px;
    width: 450px;
    height: 200px;
    
    top: 500px;
    right: 80px;
    
    background-color: rgb(0, 0, 0, 0.7);
    font-family: 'Nanum Gothic Coding', monospace;
}

.code_serial {
    position: relative;
    left: 0;
    width: 300px;
    font-family: "courier";
    font-weight: 100;
    text-align: right;
}

.code_serial span {
}

.c_cell {
    position: relative;
    background-color: #fff;
    color: #000;
    font-family: 'Nanum Gothic Coding', monospace;
    width: 300px;
    height: 70px;
}

.c_symbol {
    position: absolute;
    margin-left: 80px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: url(../image/caster.png) no-repeat top left/cover;
    
    float: left;
    
}

.c_cell::after {
    content: "";
    display: block;
    clear: both;
}

.c_name {
    position: relative;
    margin-right: 8px;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    text-align: left;
    font-size: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

/********************************************************************* 1번째 메인 ***********************************************************************/


/********************************************************************* 2번째 메인 ***********************************************************************/

.b1 {
    position: relative;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1400px;
    height: 800px;
    
    table-layout: fixed;
    
    outline: 2px solid white;
}

.b1_c {
    position: relative;
    margin: 0;
    padding: 0;
    
    border: 1px solid gold;
    
    transition: all .5s ease-in-out;
}

.b1_c::after {
    content: "";
    display: block;
    clear: both;
}

.b1_c:first-child {
    background-color: rgb(255, 255, 255, 0.7);
    width: 24.5%;
    height: 100%;
    float: left;
}

.b1_c:last-child {
    background-color: rgb(255, 255, 255, 0.7);
    width: 74.5%;
    height: 100%;
    float: right;
}

/********************************************************************* 2번째 메인 ***********************************************************************/


/********************************************************************* 3번째 메인 ***********************************************************************/











/********************************************************************* 3번째 메인 ***********************************************************************/


/********************************************************************* 4번째 메인 ***********************************************************************/

.m1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1400px;
    height: 900px;
    
    outline: 1px solid lemonchiffon;
}

.ex0 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
}

.intro_wrap {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
    padding: 0;
    
    border: 1px solid crimson;
    
    overflow: hidden;
}

.union {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    
    width: 0;
    height: 30px;
    
    transition: width .3s ease-out;
    border: 1px solid lime;
}

.ex0:hover .intro_wrap .union {
    width: 100px;
}


.explain {
    position: relative;
    margin: 0;
    padding: 0;
    
    height: 0;
    
    transition: height .3s ease-out .35s;
    border: 1px solid gold;
}

.ex0:hover .intro_wrap .explain {
    height: 400px;
}

/********************************************************************* 4번째 메인 ***********************************************************************/


/********************************************************************* 5번째 메인 ***********************************************************************/

.cl {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 600px;
    
    outline: 1px solid lawngreen;
}


/********************************************************************* 5번째 메인 ***********************************************************************/


/********************************************************************* 6번째 메인 ***********************************************************************/

.case5::before {
    position: absolute;
    display: block;
    content: "";
    background: url(../image/festival.png) no-repeat top left/cover;
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

.case5::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    
    z-index: 1;
}

.gal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 600px;
    height: 600px;
    
    outline: 5px double blue;
    
    z-index: 2;
}

/********************************************************************* 6번째 메인 ***********************************************************************/


/********************************************************************* 푸터 ***********************************************************************/

